

<h2>home page</h2>
<div class="nav-item me-1">
         <!-- TODO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
            <a href="/logout" class="nav-link">Logout</a>
       </div>
<div class="container">
        <div class="row">
            {{#each playlists}}
                <div class="col-sm-4">
                    <div class="card">
                        <img src="{{this.playlist_img}}" class="card-img-top" alt="Playlist Image">
                        <div class="card-body">
                            <h5 class="card-title">{{this.playlist_name}}</h5>
                            <p class="card-text">Owner: {{this.playlist_owner}}</p>
                            {{!-- <a href="/playlists/{{this.playlist_id}}" class="btn btn-primary">Go to Playlist</a> --}}
                            <a href="/view_mood/{{this.playlist_id}}" class="btn btn-secondary">View Mood</a>
                        </div>
                    </div>
                </div>
                {{#if @last}}
                    </div><div class="row">
                {{/if}}
            {{/each}}
        </div>
    </div>