{{> navbar isLoggedIn=true }}

<!-- Content for the home page -->
<div class="container-fluid">
    <!-- Dashboard Container -->
    <div class="row p-3">
        <!-- Profile Image Section -->
        <div class="col-md-3">
            <img src="" class="img-fluid rounded-circle" alt="Profile Image">
        </div>

        <!-- About Me and Progress Bars Section -->
        <div class="col-md-9">
            <!-- About Me -->
            <div class="mb-4">
                <h2 class="card-text">Owner</h2>
                <h3>Followers: </h3>

            </div>
            </div>
        </div>
    </div>
</div>



<div class="container-home">
    <div class="row g-3"> <!-- g-3 for spacing between columns -->
        {{#each playlists}}
        <div class="col-md-4">
            <div class="card h-100"> <!-- h-100 for equal height cards -->
                <img src="{{this.playlist_img}}" class="card-img-top" alt="Playlist Image">
                <div class="card-body">
                    <h5 class="card-title">{{this.playlist_name}}</h5>
                    <p class="card-text">Owner: {{this.playlist_owner}}</p>
                    <div class="d-grid gap-2 d-md-block"> <!-- Button grid for equal spacing -->
                        <button class="btn btn-secondary" onclick="location.href='/view-mood/{{this.playlist_id}}'">View Mood</button>
                        <button class="btn btn-success" onclick="location.href='/find-matches/{{this.playlist_id}}'">Find Matches -></button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
